[submodule "vendor/magic-context"]
	path = vendor/magic-context
	url = git@github.com:zhexulong/magic-context-airp.git
	branch = main
	ignore = untracked

[submodule "vendor/pi-koe"]
	path = vendor/pi-koe
	url = git@github.com:zhexulong/pi-koe.git
